@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import 'variable';

body {
    overflow-x: hidden;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  
  &.toggled {
    padding-left: 300px;
    
    #sidebar-wrapper {
       width: 300px;
    }
  
    #page-content-wrapper {
      position: absolute;
      margin-right: -300px;
    }
  }
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 300px;
  width: 0;
  height: 100%;
  margin-left: -300px;
  overflow-y: auto;
  border-right: 1px solid rgba(0,0,0,.07);
  // background: #000;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 0;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 60px;
  width: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
  
  li {
    text-indent: 10px;
    line-height: inherit;
    list-style: none;
    
    a {
      padding: 10px 10px;
      display: block;
      text-decoration: none;
      color: $primary_color;
      font-size: 85%;
      
      &:hover {
          text-decoration: underline;
          color: $secondary_color;
          background: rgba(255, 255, 255, 0.2);
      }
      
      &:active, &:focus, &.active-link {
        font-weight: bold;
        color: $active_link !important;
        text-decoration: none;
      }
      
      ul {
        padding-left: 0px;
      }
    }
  }
  
  > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    
    a {
      font-weight: bold;
      color: $white;
      
      &:hover {
        color: #fff;
        background: none;
      }
    }
  }
}

.bg-trans {
  background-color:transparent !important;
	border-color:transparent;
	background-image:none;
	box-shadow:none;	
}
.page-inner {
  position: relative;
  width: 900px;
  margin: 20px auto 0;
}
.footer {
  margin: 20px 0 40px 0;
}
@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
    
    &.toggled {
      padding-left: 300px;
      
      #sidebar-wrapper {
        width: 300px;
      }
      
      #page-content-wrapper {
        position: relative;
        margin-right: 0;
      }
    }
  }

  #sidebar-wrapper {
    width: 0;
  }
   
  #page-content-wrapper {
    padding: 0;
    position: relative;
  }
}
