---
title: "The Coding Club - Exercise Git"
---
{% extends "presentation.html" %}
{% block content %}
<section data-markdown data-separator-notes="^Note:">
## Adding About Page to Repository

Lets add your page to

https://the-coding-club.gitlab.io/about/

Note:
After creating our about page, we want to put it on the coding club's remote repository with the other participants. This will give you first hand exprience of collaborating with others on the same project. So lets begin...
</section>
<section data-markdown data-separator-notes="^Note:">
## Prerequisites

- Install git https://git-scm.com/downloads
- Install sourcetree https://www.sourcetreeapp.com/ (optional)

Note:
If you do not have already, installed git, go to https://git-scm.com/downloads in order to download and install git. This is a command line tool and if you want to have a graphical user interface which is quite helpful, you can install Source Tree https://www.sourcetreeapp.com/. The tool is free however you will need to register with atlassian, the company behind SourceTree

</section>
<section data-markdown data-separator-notes="^Note:">
## Create gitlab account

![gitlab main page](imgs/exerciseAboutGit-01-signup.png)

Note:
If you do not already have a gitlab account, create an account by going clicking "Use Gitlab.com" on the top right.
</section>
<section data-markdown data-separator-notes="^Note:">
## Get Access to Repository

Give email address to coach

Note:
Once you have a gitlab account, give your email address to a coach in order to give you access to the gitlab project.

</section>
<section>
<h2>Clone About Repository</h2>
<pre><code data-trim data-noescape>
git clone https://gitlab.com/the-coding-club/about.git
</code></pre>
<img src="imgs/exerciseAboutGit-02-cloneFromUrl.png" style="width: 50%"/>
<img src="imgs/exerciseAboutGit-03-cloneRepo.png" style="width: 50%"/>

<aside class="notes" data-markdown>
Next step is to clone the about repository. This will result in having a copy of the full repository (code and history) on your local machine. You can do it through the command prompt by executing

```
git clone https://gitlab.com/the-coding-club/about.git
```

or if you are using source tree, click "+ New Repository" and choose "Clone from url". Then in the url paste
```
https://gitlab.com/the-coding-club/about.git
```
, change the location of the resulting repository if you want, and finally click clone.
</aside>
</section>
<section data-markdown data-separator-notes="^Note:">
## Create branch
```sh
git branch firstname_lastname
git checkout firstname_lastname
```
![create branch](imgs/exerciseAboutGit-04-creatingBranch.png)

Note:
Next step is to create a new branch. If you are using command line, you first create the branch using
```sh
git branch firstname_lastname
```
and then switch to that branch using
```sh
git checkout firstname_lastname
```

If you are using the Source tree, click the branch button, and set the name of the branch to be firstname_lastname
</section>
<section data-markdown data-separator-notes="^Note:">
## Add your about me page

- Create new folder firstname_lastname in pages folder
- Copy/Move your about me page
- Ensure that the main html is index.html

Note:
Next step is to add your own about me page to the pages directory. Create a new folder called firstname_lastname and copy over all the files needed for your page (it is common to be just 1 file). Ensure that the main html file is called index.html since that is the assumption made by the code which builds the page which has the links to all the about pages.

</section>
<section data-markdown data-separator-notes="^Note:">
## Commit Changes
```sh
git add -A
git commit -m "Adding stephen fenech's page"
```
![create branch](imgs/exerciseAboutGit-05-commit.png)

Note:
Next step is to commit your page. If you are using command line, you first add the files to the commit using
```sh
git add -A
```
the -A will add all changes, you can also select the files one by one. Then you create the commit with
```sh
git commit -m "Adding stephen fenech's page"
```
The -m adds a commit message which is very important down the line to find this commit so it should be descriptive but brief.

If you are using the Source tree, click the commit button, move the changes from unstaged to staged, add the message and click commit.
</section>
<section data-markdown data-separator-notes="^Note:">
## Push Commit
```sh
git push origin stephen_fenech
```
![create branch](imgs/exerciseAboutGit-06-push.png)

Note:
Next step is to push your branch, with the commit to the remote repository this way it can be reviewed by other collaborators before merging it to the "master" branch. If you are using the command line you execute
```sh
git push origin stephen_fenech
```
which literally means, push to the origin repository (the remote repository is by default named origin) the branch called "stephen_fenech".

If you are using the Source tree, click the push button and make sure you select only the branch you want to be pushed.
</section>
<section data-markdown data-separator-notes="^Note:">
## Creating a Merge Request

- Go to https://gitlab.com/the-coding-club/about
- Click "Merge Requests" then "New Merge Request"

![create branch](imgs/exerciseAboutGit-07-mergeRequest.png)

Note:
Now that your changes are in a branch, on the remote repository, we can use the tools that gitlab provides to help with the collaboration. Go, to https://gitlab.com/the-coding-club/about and then click "Merge Requests" and click "New Merge Request". This signals your intent to merge the new code to the master branch and in this way other collaborators can review the code, and also leave comments on the code. Important that that source branch is your branch, and the target branch is master.

</section>
<section data-markdown data-separator-notes="^Note:">
## Get Review

- Contact a coach to review code

![create branch](imgs/exerciseAboutGit-08-getReview.png)

Note:
This is a very important part of collaborating on code projects, getting and giving reviews. At this point, contact a coach to review your code. In the future, it would be your team mates who will be reviewing the code, and in turn you would be reviewing their code.

</section>
<section data-markdown data-separator-notes="^Note:">
## Merge your changes

- After review, click "Merge" button

![create branch](imgs/exerciseAboutGit-08-getReview.png)

Note:
Now that the code has been reviewed, click the merge button which will merge your branch to the master branch. This means that now, your code is on the main branch. When the main branch changes, gitlab kicks off a new process which will rebuild and publish the website.
</section>
<section data-markdown data-separator-notes="^Note:">
## Viewing your Results!

- Go to https://the-coding-club.gitlab.io/about/
- Wait few minutes for your page to be added
- Follow build progress https://gitlab.com/the-coding-club/about/pipelines

![create branch](imgs/exerciseAboutGit-09-result.png)

Note:
When the main branch changes, gitlab kicks off a new process which will rebuild and publish the website. The website can be found https://the-coding-club.gitlab.io/about/ and you should look for your first name and last name link. Clicking that link should lead you to the page that you have created. Note, that it might take some time to see the results. If you want to follow the build process, you can go to the pipelines page https://gitlab.com/the-coding-club/about/pipelines and follow the build.
</section>
<section data-markdown data-separator-notes="^Note:">
## Congratulations!

Feel free to join a project team! Do you

- have an idea to improve the training?
- have an idea to improve the coding club website?
- want to build your own thing?
- ...

Note:
Now that you have the basic idea of how to collaborate on a code base, you are ready to start working with other people on a project. Of course, if you feel like you want to learn a bit more, you are free to continue learning and possibly improving your own about page. That said, we do recommend to try and join a team and see what skills you might still be lacking. You can always go back to the training material if you do not feel comfortable, but we believe that you will learn more working on a specific project.

Do you have any ideas on improving the training or the coding club website? Then join the respective teams and build the improvements yourself! Do you have your own idea, then prepare a 1 minute pitch and try to form a team. There are also other projects going on, so talk with the coaches to see where you can contrinute.
</section>
{% endblock %}
