---
title: "The Coding Club - Exercise: About Page"
---
{% extends "presentation.html" %}
{% block content %}
<section>
<h2>Creating an About Me Page</h2>
<iframe src="https://the-coding-club.gitlab.io/about/" style="border:solid black 1px;" width="500px" height="400px"></iframe>
<aside class="notes" data-markdown>
We will now create an "about me" page for each and every one of us.
</aside>
</section>
<section data-markdown data-separator-notes="^Note:">
## What we need..

- Text Editor, like [Atom](https://atom.io/)

Note:
In order to build our website, we would want to use a text editor, like [Atom](https://atom.io/) which is a free and open source text editor. Of course, you can choose whatever text editor you want to use.
</section>
<section data-markdown data-separator-notes="^Note:">
## Create index.html

Note:
The first step is to create a file called index.html. It is very important for the file extension to be .html. This results in the file to be opened by default by the browser.
</section>
<section data-markdown data-separator-notes="^Note:">
## Html Structure

```html
&lt;html>
  &lt;body>
    &lt;h1>About Me&lt;/h1>
  &lt;/body>
&lt;/html>
```

Note:
Lets first write out the skeleton of the html document.
</section>
<section data-markdown data-separator-notes="^Note:">
## Open in Browser

![About Me](imgs/aboutMeSkeleton.png)

Note:
If you open the file in a browser you should see the About Me title.
</section>
<section data-markdown data-separator-notes="^Note:">
## Next steps

Iteratively improve page

- Edit
- Save
- Refresh

Note:
Now that we have the basic blocks in place, we can iteratively improve the page by editing, saving and then refreshing to test. You can use all the html &amp; css that you have learnt. If you want to do something that you do not know how, feel free to search online, or ask a coach to help you out.
</section>
{% endblock %}
