---
title: "The Coding Club - Git"
---
{% extends "presentation.html" %}
{% block content %}
<section data-markdown data-separator-notes="^Note:">
## Why Git?

- Collaboration
- Change History (Save points)

Note:
There are two main reasons to use git.

1. In order to collaborate on the same code. Once you join a project team, this is how you will be able to work on the same project at the same time.
2. In order to have a complete history of changes to the code. This will allow you to go back in time and thus have a complete record of how the code evolves. This is helpful in many ways, for example, to figure out which changes "broke" the code.
</section>
<section>
<h2>The Repository</h2>
Remote Server containing:
<ul>
<li>the code</li>
<li>the full history of the code</li>
</ul>
<br />
<div data-dot>
  digraph {
    graph [nodesep=0.5, ranksep=0.3];
    edge [dir="none"];
    subgraph cluster_versiondb{
      version3->version2->version1;
      color=gray;
      label="Repository"
    };
  }
</div>
<aside class="notes" data-markdown>
The Repository contains all the code and all its full history. This data is stored on a remote server and all the coders collaborating have access to this server.

In the diagram you can see that in the repository we are storing 3 different versions of the code.
</aside>
</section>
<section>
<h2>Cloning The Repository</h2>
Copies repository to local machine
<ul>
<li>the code</li>
<li>the full history of the code</li>
</ul>
<br />
<div data-dot>
  digraph {
    graph [nodesep=0.5, ranksep=0.3];
    subgraph cluster_versionremote{
      version3->version2->version1;
      color=gray;
      label="Repository"
    };
    subgraph cluster_versionlocal{
      version3b[label="version3"];
      version2b[label="version2"];
      version1b[label="version1"];
      version3b->version2b->version1b;
      color=gray;label="Local"
    };
    version3->version3b[constraint=false;label="clone"];
    version2->version2b[constraint=false];
    version1->version1b[constraint=false]
  }
</div>
<aside class="notes" data-markdown>
The first step is to clone a remote repository. This means that git will copy all the files in the repository, together with the history and bring them to your local machine. This means that now you can work locally to modify the code.
</aside>
</section>
<section>
<h2>Change the code!</h2>
The fun begins!
<br />
<div data-dot>
  digraph {
    graph [nodesep=0.5, ranksep=0.3];
    subgraph cluster_versionremote{
      version3->version2->version1;
      color=gray;
      label="Repository"
    };
    subgraph cluster_versionlocal{
      version3b[label="version3"];
      version2b[label="version2"];
      version1b[label="version1"];
      version3b->version2b->version1b;
      color=gray;
      label="Local"
    };
    subgraph cluster_workspace{
      style="rounded";
      node [shape="note"];
      fileZ[label="fileZ(new)"];
      fileY[label="fileY(modified)"];
      fileX[label="fileX(modified)"];
      label="Workspace"
    }
  }
</div>
<aside class="notes" data-markdown>
The next step is to make the modifications you want. The changes are tracked and you can also easily see what has been changed by using ´git diff´ command or using your GUI.
</aside>
</section>
<section>
<h2>Commit the change</h2>
This creates a new version
<br />
<div data-dot>
  digraph {
    graph [nodesep=0.5, ranksep=0.3];
    subgraph cluster_versionremote{
      version3->version2->version1;
      color=gray;
      label="Repository"
    };
    subgraph cluster_versionlocal{
      version4b[label="version4"];
      version3b[label="version3"];
      version2b[label="version2"];
      version1b[label="version1"];
      version4b->version3b->version2b->version1b;
      color=gray;
      label="Local"
    };
    subgraph cluster_workspace{
      style="rounded";
      node [shape="note"];
      fileZ[label="fileZ(new)"];
      fileY[label="fileY(modified)"];
      fileX[label="fileX(modified)"];
      label="Workspace"
    }
    fileX->version4b[constraint=false;label="commit"]
  }
</script>
<aside class="notes" data-markdown>
Once the changes that you make are ready, or in a state that makes sense to create a save point, we can commit the changes in the workspace into a new version in the local repository. So now in the local repostiry we have a new version of the code, version4 which includes the changes we had. This results in the local repository and the remote repository not being at the same state.
</aside>
</section>
<section>
<h2>Push to Remote</h2>
<br />
<div data-dot>
  digraph {
    graph [nodesep=0.5, ranksep=0.3];
    subgraph cluster_versionremote{
      version4->version3->version2->version1;
      color=gray;
      label="Repository"
    };
    subgraph cluster_versionlocal{
      version4b[label="version4"];
      version3b[label="version3"];
      version2b[label="version2"];
      version1b[label="version1"];
      version4b->version3b->version2b->version1b;
      color=gray;
      label="Local"
    };
    version4b->version4[constraint=false;label="push"];
  }
</div>
<aside class="notes" data-markdown>
In order to get both the remote and local repositories in the same state, we need to "push" the version4 commit to the remote repository. This now results in both the local and remote repository having the exact same code.
</aside>
</section>
<section>
<h2>When Remote changes...</h2>
<br />
<div data-dot>
  digraph {
    graph [nodesep=0.5, ranksep=0.3];
    subgraph cluster_versionremote{
      version5->version4->version3->version2->version1;
      color=gray;
      label="Repository"
    };
    subgraph cluster_versionlocal{
      version4b[label="version4"];
      version3b[label="version3"];
      version2b[label="version2"];
      version1b[label="version1"];
      version4b->version3b->version2b->version1b;
      color=gray;
      label="Local"}
    }
</div>
<aside class="notes" data-markdown>
It could also happen that a collaborator makes a new commit, in this case version5, and pushes it to the remote repository. Again, the remote and local repository are not in synch, but this time, it is the local repository which has fallen behind.
</aside>
</section>
<section>
<h2>Pull changes...</h2>
<div data-dot>
  digraph {
    graph [nodesep=0.5, ranksep=0.3];
    subgraph cluster_versionremote{
      version5->version4->version3->version2->version1;
      color=gray;
      label="Repository"
    };
    subgraph cluster_versionlocal{
      version5b[label="version5"];
      version4b[label="version4"];
      version3b[label="version3"];
      version2b[label="version2"];
      version1b[label="version1"];
      version5b->version4b->version3b->version2b->version1b;
      color=gray;
      label="Local"
    };
    version5->version5b[constraint=false;label="pull"];
  }
</div>
<aside class="notes" data-markdown>
In order to get the repositories back in sync, we pull the last commit, and we are back in synch.
</aside>
</section>
<section data-markdown data-separator-notes="^Note:">
## Command Summary

- clone: copy remote repository
- commit: create new "version" from local changes
- push: push new version to remote repository
- pull: get new versions from remote repository

Note:

This is a quick reminder of the commands we have covered, note that there are more commands available and you will learn them slowly the more you use git.
</section>
<section>
  <h2>Git Branches</h2>
  <div data-dot>
    digraph {
      graph [nodesep=0.5;ranksep=0.5];
      subgraph cluster_master
      {
        m1[label="commit"];
        m2[label="commit"];
        m3[label="commit"];
        m4[label="merge commit"];
        color=gray;
        label="master"
      };
      subgraph cluster_branch1{
        b1[label="commit"];
        b2[label="commit"];
        color=gray;
        label="branch\nfeatureX"
      };
      m1->m2->m3->m4;
      b1->b2->m4;
      m1->b1
    }
  </div>
  <aside class="notes" data-markdown>
  Another useful feature of git is the ability to create and merge branches. This is typically used to group changes/commits which implement a new feature or fix a bug. The "master" branch is typically the main branch. Once a collaborator wants to do changes, they would create a branch, work on the branch, and when it is ready it can be merged back to master. This means that the code in the master branch is in a good state, while work in progress can be found in branches. We will see how online tools like gitlab or github help make this process more collaborative.
  </aside>
</section>
<section data-markdown data-separator-notes="^Note:">
## Resources
[Pro Git](https://git-scm.com/book/en/v2)

Note:
There are many resources online, and probably if you google for anything you need, you will find instructions how to do them, however, if you want to learn the details behind git, Pro Git is a great book which is luckily free as well. Of course, you do not need to know the full details of git in order to use it.
</section>
<section data-markdown data-separator-notes="^Note:">
## What are Gitlab & Github?
Offer a Web-Based git repository plus goodies!

Note:
Gitlab and Github offer a web-based git repository plus other goodies. They effectively not only host the remote repository but also make it easier to collaborate. For example, they make it easy to review each other's code and leave comments on the code. We will see a concrete example while doing the exercise.
</section>
<section data-markdown data-separator-notes="^Note:">
## Git Exercise
[Add about page to repository!](exerciseAboutGit.html)

Note:
The way to learn is by practice, so lets do some git!
</section>
{% endblock %}
