---
title: "The Coding Club - learn"
---
{% extends "layout.html" %}
{% block content %}
<p>This is the coding club's learning pages. For more information about the coding club got to the coding club page at <a href="https://gitlab.com/the-coding-club/website">https://gitlab.com/the-coding-club/website</a>.</p>
<p>To learn how to code, one needs to get their hands dirty and practice so we have multiple project groups where a number of peers with the help of coaches build things. This website will help beginners by guiding them to learn the basics in order to start working with the project teams as soon as possible. Of course, one can move back to the beginners group if they feel they are not ready but we rather members move earlier to project teams rather than later because your learning will be accelerated.</p>
<h2>The Curriculum</h2>
<p>This is a very loose curriculum and thus, feel free to pick and choose what you want to learn. The main focus is web development however if you have othre interests talk with the coaches and they will be more than happy to try and guide your learning.</p>
<div data-dot>
  digraph {
    graph [nodesep=0.5, ranksep=0.5];
    intro[href="intro.html"];
    subgraph cluster_webDevelopment{
      html[href="web.html"];
      css[href="web.html"];
      javascript[href="web.html"];
      color=gray;
      label="Web Development";
      {rank=same;html;css;javascript};
      html->css->javascript;
    }
    aboutX[label="Exercise: About Me Page";href="exerciseAbout.html"];
    git[href="git.html"];
    gitX[label="Exercise: Commit page to About Project";href="exerciseAboutGit.html"];
    projectTeam[label="Join Project Team";href="projects.html"];

    intro -> html;
    javascript -> aboutX;
    html->aboutX;
    css->aboutX;
    aboutX->git;
    git->gitX;
    gitX->projectTeam
  }
</div>

{% endblock %}
