---
title: "The Coding Club - Intro"
---
{% extends "presentation.html" %}
{% block content %}
<section data-markdown data-separator-notes="^Note:">
# &amp;lt;CodingClub/>

- learn coding together
- learn by doing

Note:
The coding club is aimed at providing a space where peers can learn to code together. We have coaches who are experienced coders who are helping out and are ready to answer your questions and help guide your learning. However, the main focus is to learn together with peers. We also believe that you learn better by doing, so we encourage you to join or create your own project teams to work on a project in a collaborative way.
</section>
<section data-background-color="#1AA399">
<img src="imgs/theShortcut.png" style="border: none;box-shadow: none;background:none;" />

<aside class="notes" data-markdown>
The coding club is part of the Shortcut, a non profit which encourages people from diverse background to create or work for a startup. The shortcut is part of the startup foundation together with Slush and Startup Sauna. The shorcut had over 100 evetns and over 1000 participants from over 50 nationalities.
</aside>
</section>
<section>
  <h2>Plan</h2>
  <h3 style="background:lightgray">Intro</h3>
  <table style="border-spacing:5px;border-collapse:separate">
    <tr>
      <td style="background:lightgray;text-align:center"><a href="web.html"><h3>1</h3>Intro to web technology</a></td>
      <td style="background:lightgray;text-align:center"><a href="exerciseAbout.html"><h3>2</h3>Building an about me page</a></td>
      <td style="background:lightgray;text-align:center"><a href="git.html"><h3>3</h3>Collaborating using git.</a></td>
    </tr>
  </table>
  <h3 style="background:lightgray">4 Working on Project</h3>
<aside class="notes" data-markdown>
What we are currently doing is the introduction. Next we split the group in 3

1. Beginners who do not have any knowledge of html and css. We will have a quick intro and then the group can start working on the code academy material which is a great way to learn html and css.
2. If you have knowledge of html, we will quickly show you the basics to create and about me page, and then you can go ahead and build your own about me page using the techniques that you know and of course you can ask the coaches for help.
3. Finally, if you already have an about me page, or you have plenty of html and css experience, we will see how to collaborate on a code project. This starts with an intro of git, and then an exercise to put what you learnt to practice.

This will effectively lead you to be able to join a project team to collaborate on one of our projects. Note that you can continue learning on your own, but we recommend to join a project team as soon as possible, since you will learn much more through practice, and researching solutions for specific problems.
</aside>
</section>

{% endblock %}
