---
title: "Tools"
---
{% extends "layout.html" %} {% block content %}
<h1> Getting Started </h1>
<h2>Code Editor</h2>
<h2>Browser</h2>
<h2>collaboration</h2>
<h2>Code Editor</h2>
<p>To begin or write code, you need a code editor. There are plenty of free code editors out there. For exmaple you
can even start with notepad. You can choose any, below are some free code editors:</p>
<ul>
  <li><a href="https://atom.io/">Atom</a></li>
  <li><a href="https://code.visualstudio.com/">Visual Studio</a></li>
  <li><a href="https://notepad-plus-plus.org/">Notepad-plus-plus</a></li>
  <li><a href="http://brackets.io/">brackets</a></li>
  <li><a href="https://www.sublimetext.com/">Sublime</a></li>
  <li><a href="http://www.vim.org/">Vim</a></li>
</ul>

<h2>Browser</h2>

<p> need Browser to develop and test your website. Every modern web browser includes a powerful suite of developer tools. These tools do a range of things, from inspecting currently-loaded HTML, CSS and JavaScript to showing which assets the page has requested and how long they took to load. The devtools live inside your browser in a subwindow. Below are the browers name:</p>
<ul>
  <li>Internet Explorer</li>
  <li>Firefox</li>
  <li>Chrome</li>
  <li>Safari</li>
</ul>
<h2>Collaboration</h2>
<p>There are version control systems which allows a team of people to work together, all using the same files. And it helps the team cope with the confusion that tends to happen when multiple people are editing the same files. We are using GitLab for our projects.</p>
<ul>
  <li><a href="https://atom.io/">GitLab</a></li>
  <li><a href="https://desktop.github.com/">GitHub Client</a></li>
  <li><a href="https://www.sourcetreeapp.com/">SourceTree</a></li>
  <li><a href="https://www.git-tower.com/windows/">Tower 2</a></li>
  <li><a href="https://gogs.io/">Gogs</a></li>
</ul>

{% endblock %}
