---
title: "The Coding Club - Web Development"
---
{% extends "presentation.html" %}
{% block content %}
<section data-markdown data-separator-notes="^Note:">
# Intro to Web Development

Note: We will start with a quick big picture view of how the Browser works, short intro to HTML and CSS and then finally introduce you to Code Academy where you will be learning more about HTML and CSS.
</section>
<section data-markdown data-separator-notes="^Note:">
## Browser

- Most Trusted Application
- Renders Web Pages

Note:
The web browser is the most trusted application. We do banking, online shopping, kela application, all through this one application. It's main job is to get web pages, and render them to screen in a way that we can consume the content.
</section>
<section>
<div data-dot data-dot-images='[ { "path": "./imgs/webpage.png", "width": "894px", "height":"520px"} ]'>
  digraph {
    graph [nodesep=0.5, ranksep=0.5];
    WebPage[image="./imgs/webpage.png",label="",shape="box",style="invisible"];
    HTML->Browser;
    CSS->Browser;
    Browser->WebPage;
  }
</div>
<aside class="notes" data-markdown>
The Browser takes HTML which defines the structure of the content and the the CSS which defines how the content is to be presented, and joins them together to render the html page. If the page is to be interactive, that is where javascript is used.
</aside>
</section>
<section data-html-css-editor>
<h2>HTML &amp; CSS</h2>
<div style="float:left;width:47%;text-align:left;">
  <small>HTML:</small>
  <pre><code class="html" contenteditable autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false" style="height:200px;"></code></pre>
  <small>CSS:</small>
  <pre><code class="css" contenteditable  autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false" style="height:200px;"></code></pre>
</div>
<iframe style="border:black solid 1px;width:500px;height:500px;"></iframe>
<aside class="notes" data-markdown>
Lets look at a quick example. Example is made up of "tags", for example type in

```
&lt;h1>This is a header&lt;/h1>
```

in the html input area. The <h1> is a tag and identifies that what goes within it is a header 1. Lets take another example by adding a paragraph of content by adding the following after the header

```
&lt;p>Now it is time for a paragraph.&lt;/p>
```

As you can guess, the <p> tag stands for a paragraph.

Now that we have some content, we can use CSS to style the way we want this content to look. CSS is made up of a selector which identifies which elements to style, and a list of rules. So lets for example, style the header by typing in

```
h1 {
  text-align:center;
  font-family:sans-serif;
  color:darkblue;
  border-bottom:solid black 1px;
}
```

h1 is the selector which defines that the following rules should apply to all header 1s. This is then followed by the rules which specify how the h1 should be shown.

</aside>
</section>
<section data-markdown data-separator-notes="^Note:">
## Code Academy
![Code Academy](imgs/codeAcademy.png)
Note:
For learning HTML and CSS, we recommend to use code academy. It is a self paced course which merges theory and practice into one package. Every step in the course first describes a concept and then there is an exercise part which allows you to practice the concepts that you have just learnt. We would recommend to group up together and help eachother out through the material.
</section>
<section data-markdown data-separator-notes="^Note:">
## Next Steps

[HTML](https://www.codecademy.com/courses/learn-html-elements/lessons/intro-to-html/exercises/intro)

[CSS](https://www.codecademy.com/courses/learn-css-selectors-visual-rules/lessons/css-setup-selectors/exercises/intro-to-css)

[Javascript](https://www.codecademy.com/courses/learn-javascript-introduction/lessons/introduction-to-javascript/exercises/intro)

Note:
The next step is to start doing the code academy course on HTML. After that, you should also do the CSS course. The javascript course is optional at this point.
</section>
<script src="lib/htmlAndCssEditor.js"></script>
{% endblock %}
