<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title | default("The Coding Club - learn")}}</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet">

</head>
<body>
  <div id="wrapper" class="toggled">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html">&lt;CodingClub&#47;&gt;</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <!-- <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Useful link</a>
            </li>
          </ul> -->
        </div>
      </nav>
      <ul class="sidebar-nav summary">
          <li><a href="intro.html">Intro to Coding Club</a></li>
          <li><a href="web.html">Intro to Web Development</a></li>
          <li><a href="exerciseAbout.html">About Me Exercise</a></li>
          <li><a href="git.html">Intro to Git</a></li>
          <li><a href="exerciseAboutGit.html">Git Exercise</a></li>'
          <li><a href="projects.html">Projects</a></li>
          <li><a href="tools.html">Tools</a></li>
      </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="page-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-trans">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link text-secondary" href="#menu-toggle" id="menu-toggle">
                  <i class="fa fa-align-justify" aria-hidden="true"></i>
                </a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li> -->
            </ul>
            <span>{{ title | default("The Coding Club - learn")}}</span>
            <ul class="navbar-nav navbar-nav flex-row ml-md-auto d-none d-md-flex">
              <li class="nav-item"><a class="btn btn-sm btn-outline-success my-2 my-sm-0" href="#">Join Us</a></li>
            </ul>

          </div>
        </nav>
      </div>
      <div class="page-inner">
        <div class="row">
          {% block content %} {% endblock %}
        </div>

        <div class="footer float-right">
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="imgs/l-by-sa-4.0-88x31.png" /></a>
          <!-- I will make it a hover pop up later. For now I think a icon like above is good to go.
          This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>. -->
        </div>
      </div>

    </div>
    <!-- /#page-content-wrapper -->
  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
  });
  </script>

</body>
</html>
