<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title | default("The Coding Club - learn")}}</title>
  <link rel="stylesheet" href="lib/reveal.js/css/reveal.css">
  <link rel="stylesheet" href="lib/reveal.js/css/theme/white.css">
  <link rel="stylesheet" href="lib/reveal.js/lib/css/zenburn.css">
  <style>
  .reveal h1,.reveal h2,.reveal h3,.reveal h4,.reveal h5,.reveal h6{
    font-style:italic;
    text-transform:none
  }
  div.reveal {
    padding-left: 25%;
  }
  div.reveal div.speaker-notes{
    width: 25%;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    max-height: 100%;
    padding: 5px;
    font-size: 35%;
  }
  div.reveal div.speaker-notes p{
    margin-bottom: 5px;
    margin-top: 0px;
  }
  div.reveal pre, div.reveal img {
    margin-bottom: 10px;
    margin-top: 0px;
  }
  div.reveal div.speaker-notes a {
    color: #143d7b;
  }
  div.reveal div.speaker-notes a:hover {
    color: #1e60bc;
  }
  </style>
</head>
<body>
  <div class="reveal">
      <div class="slides">
{% block content %} {% endblock %}
      </div>
    </div>
  <script src="lib/headjs/dist/1.0.0/head.min.js"></script>
  <script src="lib/reveal.js/js/reveal.js"></script>
  <script>
    // More info https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
      history: true,
      slideNumber: 'c/t',
      showNotes: true,
      // More info https://github.com/hakimel/reveal.js#dependencies
      dependencies: [
        { src: 'lib/reveal.js/plugin/markdown/marked.js'},
        { src: 'lib/reveal.js/plugin/markdown/markdown.js'},
        { src: 'lib/reveal.js/plugin/notes/notes.js', async: true },
        { src: 'lib/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
        { src: 'lib/reveal.js/plugin/math/math.js', async: true}
      ]
    });
  </script>
</body>
</html>
